.page6{
    display: flex;
    flex-direction: row;
    margin-top: -80px;
    margin-left: 180px;
}

footer{
    position: absolute;
    bottom: 0;
}
.combine{
    margin-left: 94px;
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    text-align: center;
}
.page8{
    margin-left: 20px;
}
.page8b{
    margin-left: 180px;
}
body{
    overflow: scroll;
}
.page6b{
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    padding: 10px;
}
.page6c{
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    padding: 10px;

}
.page6a{
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    padding: 10px;
}
