@tailwind base; 
@tailwind components; 
@tailwind utilities; 


.f1{
    max-width: 100%;
    height: 170px;
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #023047;
    }

.Foot{
    width: 10%;
}
.g2{
    margin-left: 0%;
}
.g4{
    margin-left: 0%;
}
.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}

.tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}

.Department{
}
.IITB{
    justify-content: center;
    scale: 0.5;
}
.mainfooter{
    
}